# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
*.eld
*.log
init.el.*
recentf
tramp

# Image files
*.jpg
*.png

# Undo-tree save-files
*.~undo-tree

# carpetas a evitar subir
elpa/
eshell/
auto-save-list/
straight/
site-lisp/
transient/
url/
*/
